@import url('https://fonts.googleapis.com/css?family=Roboto')

.clock
  &-hour,
  &-minute
    font-size: 52pt
    font-family: 'Roboto'

  &-day,
  &-day-name,
  &-month,
  &-month-name
    font-size: 22pt
    // line-height: 22pt

  &-divider-time
    text-align: center
    font-size: 52pt
    padding-left: 10pt

  &-divider-date
    text-align: center
    font-size: 32pt
    padding-top: 5pt

  &-hour,
  &-day,
  &-day-name
    text-align: right

  &-day
    padding-right: 10pt

  &-minute,
  &-month
    padding-left: 10pt

  &-second
    font-size: 16pt
    text-align: center
