.status
  position: absolute
  top: 0
  right: 2pt
  text-align: right
  letter-spacing: .75pt
  font-size: 8pt
  opacity: .33

  &-time,
  &-date
    height: 10pt
    display: inline-block
    padding-left: 5pt
